.collapsible-content {
    border-top: 4px solid #ffffff00;
    transition: all 0.3s;
    
    &.open {
        padding-top: 30px;
        border-top: 4px solid #ffffff34;
    }
}


.wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}